<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Lab</title>
  <link rel="stylesheet" href="/app-lab-assets/app-lab.css">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <%= yield %>
  <script type="module" src="/app-lab-assets/app-lab.js"></script>
</body>
</html>
